# Python
# Byte-compiled files
__pychace__/
*.py[cod]
*$py.class
*.pyc

# Vs Code
.vscode/
*.code-workspace
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea
.vscode